.slideshow-container {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.slide img {
  width: 90%;
  aspect-ratio: 25 / 14.4;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 15px;
}

.slide-content {
  text-align: center;
  width: 90%;
}

.slide-content p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.5;
}

.slide-content a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.slide-content a:hover {
  background-color: #0056b3;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: fit-content;
}

.dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  width: 32px;
  height: 10px;
  border-radius: 2px;
}


.dot.active::before {
  content: '';
  display: block;
  height: 100%;
  width: var(--progress-width, 0%);
  background: #5CB1FF;
  border-radius: inherit;
}